@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-image: url(../public/body.png);
  background-size: cover;
  background-position: center;
}

