/* Estilos específicos do App (não incluir diretivas do Tailwind aqui) */

h1{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
}